/* Base Application Styles */

body {
    color: #000;
    background: #fff;
}

.index {
    width: 100%;
}

.content {
    width: 700px;
    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
}


/** Carousel **/

.carousel {
    position: relative;
    height: 350px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}


/** Slide **/

.slide {
    width: 700px;
    height: 350px;
    background: #fff;
    overflow: hidden;
}

.slide .photo {
    width: 100%;
    height: 100%;
}


/** Caption **/

.caption {
    color: #fff;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    -o-opacity: 0.6;
    opacity: 0.6;
}

.carousel .caption {
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
    bottom: 0;
}

.caption .caption-text {
    margin: 10px;
}


/** Navigation **/

.carousel .navigation {
    position: absolute;
    bottom: 10px;
    padding: 0 5px 0 5px;
    margin: 0 auto 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}

.navigation .navigation-btn {
    padding: 2px 2px 4px 2px;
    display: inline-block;
}

.navigation-btn .navigation-page {
    display: inline-block;
    background: #000;
    border: 1px solid #676664;
    width: 7px;
    height: 7px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.navigation-page:hover {
    background: #fff;
}

.navigation-page.active {
    background: #fff;
}


/** animation **/

.slide-enter {
    -webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    -o-opacity: 0.1;
    opacity: 0.1;
}

.slide-enter.slide-enter-active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.slide-leave {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
}

.slide-leave.slide-leave-active {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: opacity 300ms ease-out;
}


/** Dev Border **/

.border {
    border-width: 1px;
    border-style: solid;
}

.border.-black {
    border-color: black;
}

.border.-red {
    border-color: red;
}

.border.-green {
    border-color: green;
}

.border.-blue {
    border-color: blue;
}

.border.-yellow {
    border-color: yellow;
}
